openapi: "3.0.4"
info:
    title: DAVP API Documentation
    description: DAVP API Documentation to create product in Odoo.
    version: "1.0"
servers:
    - url: https://odoo.dogo.work

components:
    securitySchemes:
        ApiKeyAuth:
            type: apiKey
            in: header
            name: X-Odoo-Api-Key
            description: API Key for authentication
    schemas:
        ProductCreateRequest:
            type: object
            required:
                - barcode
                - name
            properties:
                barcode:
                    type: string
                    example: "344564646"
                name:
                    type: string
                    example: "000 Test post japan 24"
                weight:
                    type: number
                    format: float
                    example: 135.0
                length:
                    type: number
                    format: float
                    example: 123.0
                width:
                    type: number
                    format: float
                    example: 23.0
                height:
                    type: number
                    format: float
                    example: 180.0
                description:
                    type: string
                    description: Mô tả HTML
                    example: "<p style='color: red '>test</p>"
                standard_price:
                    type: number
                    description: Giá nhập
                    example: "58"
                extra_image_src:
                    type: string
                    description: URL nhiều ảnh phân cách bởi dấu phẩy
                    example: "https://s3...jpg, https://genk...jpg"
                davp_qty:
                    type: integer
                    example: 48
                default_code:
                    description: Mã nội bộ (internal Reference)
                    type: string
                    example: "344564646"
                hs_code:
                    type: string
                    example: "232232"
                categ_id:
                    type: number
                    description: ID danh mục sản phẩm trong Odoo
                    example: 1
                seller_ids:
                    type: array
                    description: Danh sách nhà cung cấp và giá mua
                    items:
                        type: array
                        example:
                            [
                                0,
                                0,
                                {
                                    "partner_id": 194254,
                                    "min_qty": 10,
                                    "price": 110,
                                },
                            ]
                compare_at_price:
                    type: integer
                    example: 32
                product_vendor:
                    type: string
                    example: "Test Test"
                product_tags:
                    type: string
                    description: Chuỗi các tag, phân cách bởi dấu phẩy
                    example: "Test 1, Test 2, Test"
                product_price_platform_ids:
                    type: array
                    items:
                        type: object
                        properties:
                            url:
                                type: string
                                example: "dogojp.myshopify.com"
                            allow_sync:
                                type: boolean
                                example: true
                            store_name:
                                type: string
                                example: "DogoJP"
                            platform:
                                type: string
                                enum: ["shopify", ".."]
                                example: "shopify"
                            price:
                                type: number
                                example: 100000
                                description: Giá bán của sản phẩm trên nền tảng
        ProductCreatePayload:
            type: object
            required:
                - data
            properties:
                data:
                    type: array
                    items:
                        $ref: "#/components/schemas/ProductCreateRequest"

paths:
    /v1/api/productVariant:
        post:
            tags:
                - Product
            summary: Tạo mới/ Cập nhật sản phẩm
            description: |
                Sử dụng API này để tạo sản phẩm hoặc cập nhật sản phẩm trong Odoo thông qua mã barcode.
            parameters: []
            requestBody:
                required: true
                description: |
                    - **Mô tả**: Tạo mới sản phẩm hoặc cập nhật sản phẩm trong Odoo thông qua mã barcode.
                    - **Lưu ý**: Việc tạo/ cập nhật sản phẩm sẽ thông qua mã barcode của sản phẩm.
                    - **Cách sử dụng**: 
                      - Nếu bạn muốn tạo mới sản phẩm thì chỉ cần điền các trường bắt buộc là `barcode`, `name`,... và các trường khác nếu có (Tham khảo thêm trong schema)
                      - Nếu bạn muốn cập nhật sản phẩm thì chỉ cần điền mã barcode và các trường cần cập nhật.

                    **Bảng mô tả các object trong requestBody**

                    | Trường |Mô tả | Kiểu dữ liệu | Bắt buộc | Dữ liệu mẫu |
                    | --- | --- | --- | --- | --- |
                    | barcode | Mã vạch sản phẩm | string | ✅ | BARCODE-123 |
                    | name | Tên sản phẩm | string | ✅ | 000 Test post japan 24 |
                    | weight | Cân nặng sản phẩm | number |  | 350.0 |
                    | length | Chiều dài sản phẩm | number |  | 150.0 |
                    | width | Chiều rộng sản phẩm | number |  | 23 |
                    | height | Chiều cao sản phẩm | number |  | 180.0 |
                    | description | Mô tả sản phẩm | string |  | ```<p>Mô tả sản phẩm bằng HTML</p>``` |
                    | standard_price | Giá nhập sản phẩm | string |  | 58 |
                    | extra_image_src | URL nhiều ảnh phân cách bởi dấu phẩy | string |  | "https://s3...jpg, https://genk...jpg" ||
                    | davp_qty | Số lượng sản phẩm | integer |  | 48 |
                    | default_code | Mã nội bộ sản phẩm | string |  | 344564646 |
                    | hs_code | Mã HS sản phẩm | string |  | 232232 |
                    | categ_id | ID danh mục sản phẩm trong Odoo | number |  | 1 |
                    | seller_ids | Danh sách nhà cung cấp và giá mua sẽ được cập nhật vào tab purchase trong sản phẩm. Cấu trúc 1 item trong mảng này như sau: ```[rpc_command, record_id, values]```. Trong đó: <br> - **rpc_command**: 0-create,1-update, 2-delete, 3-unlink, 4-link, 5-clear, 6-set; <br> - **record_id**: mã id của record trên Odoo. <br> - **values**: object chứa các trường cần cập nhật hoặc để 0 nếu không có cập nhật mới. <br>   | array |  | - **Xoá các data cũ:** [5, 0, 0] <br> - **Tạo mới record:** [0,0, {"name": 194254, "min_qty": 10, "price": 110}] |
                    | compare_at_price | Giá so sánh | integer |  | |
                    | product_vendor | Nhà cung cấp sản phẩm | string |  | |
                    | product_tags | Tag sản phẩm | string |  | |
                    | product_price_platform_ids | Danh sách các nền tảng và giá sản phẩm | array |  | |
                    | product_price_platform_ids.url | URL của nền tảng | string |  | | 
                    | product_price_platform_ids.allow_sync | Cho phép đồng bộ giá | boolean |  | |
                    | product_price_platform_ids.store_name | Tên cửa hàng | string |  | |
                    | product_price_platform_ids.platform | Nền tảng | string |  | |
                    | product_price_platform_ids.price | Giá bán của sản phẩm trên nền tảng | number |  | |

                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ProductCreatePayload"

            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    jsonrpc:
                                        type: string
                                        example: "2.0"
                                    id:
                                        nullable: true
                                        example: null
                                    result:
                                        type: object
                                        properties:
                                            message:
                                                type: string
                                                example: "Success"
                                            success_record:
                                                type: array
                                                description: Danh sách mã barcode và số dòng thành công
                                                items:
                                                    type: object
                                                    additionalProperties:
                                                        type: integer
                                                example:
                                                    - "1234567890123": 466
                                            success_count:
                                                description: Tổng số dòng thành công
                                                type: integer
                                                example: 1
                                            fail_record:
                                                type: array
                                                description: Danh sách lỗi nếu có
                                                items:
                                                    type: object
                                                example: []
                                            fail_count:
                                                type: integer
                                                example: 0
                                            created_record:
                                                type: array
                                                items:
                                                    type: object
                                                example: []
                                            create_count:
                                                type: integer
                                                example: 0
    # /v1/api/product:
    #   get:
    #     tags:
    #       - Product
    #     summary: Lấy thông tin sản phẩm

    #     responses:
    #       '200':
    #         description: OK

security:
    - ApiKeyAuth: []
